<%- include('partials/header.ejs') %>

<div class="box">
    <h1 id="heading">
        <%= listTitle %>
    </h1>
</div>
<div class="box">

    <% listItem.forEach(item => { %>
    <div class="item">
        <input type="checkbox">
        <p><%= item %> </p>
    </div>
    <% }) %>

    <form class="item" action="/" method="POST">
        <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
        <button type="submit">+</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>